USE [master]
GO
/****** Object:  Database [KeytietkiemDB]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE DATABASE [KeytietkiemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KeytietkiemDB', FILENAME = N'/var/opt/mssql/data/KeytietkiemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KeytietkiemDB_log', FILENAME = N'/var/opt/mssql/data/KeytietkiemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KeytietkiemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KeytietkiemDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](60) NOT NULL,
	[PasswordHash] [varbinary](256) NULL,
	[LastLoginAt] [datetime2](3) NULL,
	[FailedLoginCount] [int] NOT NULL,
	[LockedUntil] [datetime2](3) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[OccurredAt] [datetime2](3) NOT NULL,
	[ActorId] [uniqueidentifier] NULL,
	[ActorEmail] [nvarchar](254) NULL,
	[Action] [varchar](50) NOT NULL,
	[Resource] [varchar](50) NOT NULL,
	[EntityId] [nvarchar](128) NULL,
	[IpAddress] [varchar](45) NULL,
	[UserAgent] [nvarchar](200) NULL,
	[DetailJson] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Badges]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badges](
	[BadgeCode] [nvarchar](32) NOT NULL,
	[DisplayName] [nvarchar](64) NOT NULL,
	[ColorHex] [varchar](9) NULL,
	[Icon] [nvarchar](64) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BadgeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryCode] [varchar](50) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaqCategories]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaqCategories](
	[FaqId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_FaqCategories] PRIMARY KEY CLUSTERED 
(
	[FaqId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaqProducts]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaqProducts](
	[FaqId] [int] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FaqProducts] PRIMARY KEY CLUSTERED 
(
	[FaqId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faqs]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faqs](
	[FaqId] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](500) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FaqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LayoutSections]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LayoutSections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionKey] [nvarchar](100) NOT NULL,
	[SectionName] [nvarchar](255) NOT NULL,
	[DisplayOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicensePackages]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicensePackages](
	[PackageId] [uniqueidentifier] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[VariantId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ImportedToStock] [int] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[ModuleId] [bigint] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](80) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[Code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
	[KeyId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[DiscountAmount] [decimal](12, 2) NOT NULL,
	[FinalAmount]  AS ([TotalAmount]-[DiscountAmount]) PERSISTED,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentGateways]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentGateways](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CallbackUrl] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Status] [varchar](15) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionId] [bigint] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[Code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostComments]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostComments](
	[CommentId] [uniqueidentifier] NOT NULL,
	[PostId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[ParentCommentId] [uniqueidentifier] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsApproved] [bit] NULL,
 CONSTRAINT [PK_PostComments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](255) NOT NULL,
	[ShortDescription] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[Thumbnail] [nvarchar](255) NULL,
	[PostTypeID] [uniqueidentifier] NULL,
	[AuthorID] [uniqueidentifier] NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[MetaDescription] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[ViewCount] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostTags]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTags](
	[PostID] [uniqueidentifier] NOT NULL,
	[TagID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostTypes]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTypes](
	[PostTypeID] [uniqueidentifier] NOT NULL,
	[PostTypeName] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAccountCustomers]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAccountCustomers](
	[ProductAccountCustomerId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductAccountId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[AddedAt] [datetime2](3) NOT NULL,
	[AddedBy] [uniqueidentifier] NOT NULL,
	[RemovedAt] [datetime2](3) NULL,
	[RemovedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductAccountCustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAccountHistories]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAccountHistories](
	[HistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductAccountId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Action] [varchar](20) NOT NULL,
	[ActionBy] [uniqueidentifier] NOT NULL,
	[ActionAt] [datetime2](3) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAccounts]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAccounts](
	[ProductAccountId] [uniqueidentifier] NOT NULL,
	[AccountEmail] [nvarchar](254) NOT NULL,
	[AccountUsername] [nvarchar](100) NULL,
	[AccountPassword] [nvarchar](512) NOT NULL,
	[MaxUsers] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[ExpiryDate] [datetime2](3) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CogsPrice] [decimal](18, 0) NULL,
	[VariantId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductBadges]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductBadges](
	[ProductId] [uniqueidentifier] NOT NULL,
	[Badge] [nvarchar](32) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_ProductBadges] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[Badge] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ProductId] [uniqueidentifier] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductKeys]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductKeys](
	[KeyId] [uniqueidentifier] NOT NULL,
	[KeyString] [nvarchar](255) NOT NULL,
	[Status] [varchar](15) NOT NULL,
	[ImportedBy] [uniqueidentifier] NULL,
	[ImportedAt] [datetime2](3) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Type] [varchar](20) NOT NULL,
	[ExpiryDate] [datetime2](3) NULL,
	[Notes] [nvarchar](1000) NULL,
	[AssignedToOrderId] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[VariantId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[ReviewId] [uniqueidentifier] NOT NULL,
	[VariantId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Rating] [tinyint] NOT NULL,
	[Title] [nvarchar](120) NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[IsVerifiedPurchase] [bit] NOT NULL,
	[HelpfulCount] [int] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NULL,
 CONSTRAINT [PK_ProductReviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [uniqueidentifier] NOT NULL,
	[ProductCode] [varchar](50) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductType] [varchar](20) NOT NULL,
	[StockQty] [int] NOT NULL,
	[Status] [varchar](15) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[Slug] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSections]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSections](
	[SectionId] [uniqueidentifier] NOT NULL,
	[VariantId] [uniqueidentifier] NOT NULL,
	[SectionType] [varchar](30) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NULL,
 CONSTRAINT [PK_ProductSections] PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[VariantId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[VariantCode] [varchar](50) NULL,
	[Title] [nvarchar](60) NOT NULL,
	[DurationDays] [int] NULL,
	[WarrantyDays] [int] NULL,
	[Status] [varchar](15) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[StockQty] [int] NOT NULL,
	[Thumbnail] [nvarchar](512) NULL,
	[MetaTitle] [nvarchar](255) NULL,
	[MetaDescription] [nvarchar](1000) NULL,
	[ViewCount] [int] NOT NULL,
	[SellPrice] [decimal](18, 2) NOT NULL,
	[CogsPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ProductVariants] PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefundRequests]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefundRequests](
	[RefundId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Reason] [nvarchar](200) NOT NULL,
	[SubmittedAt] [datetime2](3) NOT NULL,
	[Status] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RefundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleId] [nvarchar](50) NOT NULL,
	[PermissionId] [bigint] NOT NULL,
	[ModuleId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC,
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[IsSystem] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[Code] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlaRules]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlaRules](
	[SlaRuleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Severity] [varchar](10) NOT NULL,
	[PriorityLevel] [int] NOT NULL,
	[FirstResponseMinutes] [int] NOT NULL,
	[ResolutionMinutes] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NULL,
 CONSTRAINT [PK_SlaRules] PRIMARY KEY CLUSTERED 
(
	[SlaRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ContactEmail] [nvarchar](254) NULL,
	[ContactPhone] [nvarchar](32) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[LicenseTerms] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportChatMessages]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportChatMessages](
	[MessageId] [bigint] IDENTITY(1,1) NOT NULL,
	[ChatSessionId] [uniqueidentifier] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[IsFromStaff] [bit] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SentAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_SupportChatMessages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportChatSessions]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportChatSessions](
	[ChatSessionId] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[AssignedStaffId] [uniqueidentifier] NULL,
	[Status] [varchar](20) NOT NULL,
	[PriorityLevel] [int] NOT NULL,
	[StartedAt] [datetime2](3) NOT NULL,
	[ClosedAt] [datetime2](3) NULL,
	[LastMessageAt] [datetime2](3) NULL,
	[LastMessagePreview] [nvarchar](255) NULL,
 CONSTRAINT [PK_SupportChatSessions] PRIMARY KEY CLUSTERED 
(
	[ChatSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagID] [uniqueidentifier] NOT NULL,
	[TagName] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketReplies]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketReplies](
	[ReplyId] [bigint] IDENTITY(1,1) NOT NULL,
	[TicketId] [uniqueidentifier] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SentAt] [datetime2](3) NOT NULL,
	[IsStaffReply] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Subject] [nvarchar](120) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[AssigneeId] [uniqueidentifier] NULL,
	[TicketCode] [varchar](20) NOT NULL,
	[Severity] [varchar](10) NULL,
	[SlaStatus] [varchar](10) NOT NULL,
	[AssignmentState] [varchar](15) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[PriorityLevel] [int] NOT NULL,
	[SlaRuleId] [int] NULL,
	[FirstResponseDueAt] [datetime2](3) NULL,
	[FirstRespondedAt] [datetime2](3) NULL,
	[ResolutionDueAt] [datetime2](3) NULL,
	[ResolvedAt] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](80) NULL,
	[LastName] [nvarchar](80) NULL,
	[FullName] [nvarchar](160) NULL,
	[Email] [nvarchar](254) NOT NULL,
	[Phone] [nvarchar](32) NULL,
	[Address] [nvarchar](300) NULL,
	[AvatarUrl] [nvarchar](255) NULL,
	[Status] [varchar](12) NOT NULL,
	[EmailVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NULL,
	[SupportPriorityLevel] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyClaims]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyClaims](
	[ClaimId] [uniqueidentifier] NOT NULL,
	[OrderDetailId] [bigint] NOT NULL,
	[Reason] [nvarchar](200) NOT NULL,
	[SubmittedAt] [datetime2](3) NOT NULL,
	[Status] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebsiteSettings]    Script Date: 11/23/2025 2:51:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebsiteSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SiteName] [nvarchar](255) NOT NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[Slogan] [nvarchar](500) NULL,
	[MetaDescription] [nvarchar](1000) NULL,
	[PrimaryColor] [nvarchar](20) NULL,
	[SecondaryColor] [nvarchar](20) NULL,
	[FontFamily] [nvarchar](100) NULL,
	[CompanyAddress] [nvarchar](500) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[SmtpHost] [nvarchar](255) NULL,
	[SmtpPort] [int] NULL,
	[SmtpUsername] [nvarchar](255) NULL,
	[SmtpPassword] [nvarchar](255) NULL,
	[UseTLS] [bit] NULL,
	[UseDNS] [bit] NULL,
	[UploadLimitMB] [int] NULL,
	[AllowedExtensions] [nvarchar](200) NULL,
	[Facebook] [nvarchar](255) NULL,
	[Zalo] [nvarchar](255) NULL,
	[Instagram] [nvarchar](255) NULL,
	[TikTok] [nvarchar](255) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([AccountId], [Username], [PasswordHash], [LastLoginAt], [FailedLoginCount], [LockedUntil], [CreatedAt], [UpdatedAt], [UserId]) VALUES (N'84c2271b-0438-414a-bea9-59c955eefbd3', N'test123', 0x0C02FF966DE65441E2A524AAB1695B9E614619FFFFAD3AEC69C75DA69F2007CB25257FB10C9C4C564C3EAA70CF3C0DFE, CAST(N'2025-11-20T19:58:46.8170000' AS DateTime2), 0, NULL, CAST(N'2025-11-20T19:55:07.5680000' AS DateTime2), NULL, N'df0c031a-5300-4af8-a257-1dd032db8a18')
INSERT [dbo].[Accounts] ([AccountId], [Username], [PasswordHash], [LastLoginAt], [FailedLoginCount], [LockedUntil], [CreatedAt], [UpdatedAt], [UserId]) VALUES (N'7d20c655-ab73-4eb5-ab1a-5febb9a34103', N'admin', 0xEC3A16A36B59CC3B4E753D86FCABD49D4AE751ACA6F378A5668BF9F35F247B338F569C6E128CEB3A52102CEE53D35849, CAST(N'2025-11-22T15:37:09.5610000' AS DateTime2), 0, NULL, CAST(N'2025-11-19T16:49:58.6380000' AS DateTime2), CAST(N'2025-11-20T19:34:07.7410000' AS DateTime2), N'03fae6ad-2b2b-4497-a3a0-244ffcf803f4')
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([AuditId], [OccurredAt], [ActorId], [ActorEmail], [Action], [Resource], [EntityId], [IpAddress], [UserAgent], [DetailJson]) VALUES (2, CAST(N'2025-11-22T16:29:57.3460000' AS DateTime2), N'03fae6ad-2b2b-4497-a3a0-244ffcf803f4', NULL, N'CREATE_PRODUCT_KEY', N'ProductKey', N'57907f59-44be-4645-800b-78a7db5db12a', NULL, NULL, N'Tạo product key mới cho biến thể Microsoft Office 2016 Professional Plus MAC của sản phẩm Microsoft Office 2016 Professional Plus')
INSERT [dbo].[AuditLogs] ([AuditId], [OccurredAt], [ActorId], [ActorEmail], [Action], [Resource], [EntityId], [IpAddress], [UserAgent], [DetailJson]) VALUES (10003, CAST(N'2025-11-22T19:45:18.9460000' AS DateTime2), N'03fae6ad-2b2b-4497-a3a0-244ffcf803f4', N'admin@keytietkiem.com', N'UPLOAD_CSV', N'LicensePackage', N'ca3ee163-2aa1-44f4-b75a-d99424034508', NULL, NULL, N'{"PackageId":"ca3ee163-2aa1-44f4-b75a-d99424034508","ProductName":"Microsoft Office 2016 Professional Plus","SupplierName":"Vendor","TotalKeysInFile":400,"SuccessfullyImported":0,"DuplicateKeys":200,"InvalidKeys":0}')
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
INSERT [dbo].[Badges] ([BadgeCode], [DisplayName], [ColorHex], [Icon], [IsActive], [CreatedAt]) VALUES (N'discount', N'Giảm giá sâu', N'#51ec51', N'', 1, CAST(N'2025-11-19T16:57:48.4040000' AS DateTime2))
INSERT [dbo].[Badges] ([BadgeCode], [DisplayName], [ColorHex], [Icon], [IsActive], [CreatedAt]) VALUES (N'favorite', N'Yêu thích', N'#e68019', N'', 1, CAST(N'2025-11-19T16:56:53.3260000' AS DateTime2))
INSERT [dbo].[Badges] ([BadgeCode], [DisplayName], [ColorHex], [Icon], [IsActive], [CreatedAt]) VALUES (N'Hot', N'Bán chạy', N'#e61919', N'', 1, CAST(N'2025-11-19T16:54:41.5430000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryCode], [CategoryName], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (1, N'entertainment', N'Giải trí', N'', 1, CAST(N'2025-11-19T16:50:55.6490000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Categories] ([CategoryId], [CategoryCode], [CategoryName], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (2, N'work', N'Làm việc', N'', 1, CAST(N'2025-11-19T16:51:10.5080000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Categories] ([CategoryId], [CategoryCode], [CategoryName], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy]) VALUES (3, N'learn', N'Học tập', N'', 1, CAST(N'2025-11-19T16:51:29.7450000' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[LicensePackages] ([PackageId], [SupplierId], [VariantId], [Quantity], [ImportedToStock], [CreatedAt], [Notes]) VALUES (N'de0803bc-a9a5-4926-beab-27f85d57d704', 1, N'0eb49bca-d8d2-4a8e-8334-e6f1c256a1e9', 1, 1, CAST(N'2025-11-22T16:29:57.2590000' AS DateTime2), N'Auto-generated for manual key import')
INSERT [dbo].[LicensePackages] ([PackageId], [SupplierId], [VariantId], [Quantity], [ImportedToStock], [CreatedAt], [Notes]) VALUES (N'1552df15-3174-4427-9163-8ed13f6754a0', 1, N'0eb49bca-d8d2-4a8e-8334-e6f1c256a1e9', 200, 200, CAST(N'2025-11-22T19:44:53.3090000' AS DateTime2), NULL)
INSERT [dbo].[LicensePackages] ([PackageId], [SupplierId], [VariantId], [Quantity], [ImportedToStock], [CreatedAt], [Notes]) VALUES (N'ca3ee163-2aa1-44f4-b75a-d99424034508', 1, N'0eb49bca-d8d2-4a8e-8334-e6f1c256a1e9', 200, 100, CAST(N'2025-11-22T16:35:55.1770000' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[Modules] ON 

INSERT [dbo].[Modules] ([ModuleId], [ModuleName], [Description], [CreatedAt], [UpdatedAt], [Code]) VALUES (1, N'Quản lý sản phẩm', N'', CAST(N'2025-11-13T12:52:03.7170000' AS DateTime2), CAST(N'2025-11-17T14:48:07.3770000' AS DateTime2), N'PRODUCT_MANAGER')
INSERT [dbo].[Modules] ([ModuleId], [ModuleName], [Description], [CreatedAt], [UpdatedAt], [Code]) VALUES (2, N' Quản lý người dùng', N'', CAST(N'2025-11-13T12:52:21.2560000' AS DateTime2), CAST(N'2025-11-17T14:48:18.6170000' AS DateTime2), N'USER_MANAGER')
INSERT [dbo].[Modules] ([ModuleId], [ModuleName], [Description], [CreatedAt], [UpdatedAt], [Code]) VALUES (3, N'Quản lý hỗ trợ', N'', CAST(N'2025-11-13T12:52:33.9080000' AS DateTime2), CAST(N'2025-11-17T14:48:29.6450000' AS DateTime2), N'SUPPORT_MANAGER')
SET IDENTITY_INSERT [dbo].[Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionId], [PermissionName], [Description], [CreatedAt], [UpdatedAt], [Code]) VALUES (1, N'Tạo/Thêm', N'', CAST(N'2025-11-13T12:52:57.2030000' AS DateTime2), CAST(N'2025-11-17T14:48:46.6980000' AS DateTime2), N'CREATE')
INSERT [dbo].[Permissions] ([PermissionId], [PermissionName], [Description], [CreatedAt], [UpdatedAt], [Code]) VALUES (2, N'Xem danh sách', N'', CAST(N'2025-11-13T12:53:06.8730000' AS DateTime2), CAST(N'2025-11-17T14:48:49.9710000' AS DateTime2), N'READ')
INSERT [dbo].[Permissions] ([PermissionId], [PermissionName], [Description], [CreatedAt], [UpdatedAt], [Code]) VALUES (3, N'Sửa', N'', CAST(N'2025-11-13T12:53:21.8840000' AS DateTime2), CAST(N'2025-11-17T14:48:54.8990000' AS DateTime2), N'EDIT')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
INSERT [dbo].[ProductBadges] ([ProductId], [Badge], [CreatedAt]) VALUES (N'2e6391e9-e9a5-4d88-8ef6-137e3bbb82ae', N'Hot', CAST(N'2025-11-19T17:04:28.4180000' AS DateTime2))
INSERT [dbo].[ProductBadges] ([ProductId], [Badge], [CreatedAt]) VALUES (N'2e6391e9-e9a5-4d88-8ef6-137e3bbb82ae', N'new', CAST(N'2025-11-19T17:04:28.4180000' AS DateTime2))
INSERT [dbo].[ProductBadges] ([ProductId], [Badge], [CreatedAt]) VALUES (N'1d5548cb-b29a-4b43-bccc-19c3a1ef1701', N'new', CAST(N'2025-11-19T17:02:00.6200000' AS DateTime2))
GO
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (N'2e6391e9-e9a5-4d88-8ef6-137e3bbb82ae', 2)
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (N'2e6391e9-e9a5-4d88-8ef6-137e3bbb82ae', 3)
INSERT [dbo].[ProductCategories] ([ProductId], [CategoryId]) VALUES (N'2e6391e9-e9a5-4d88-8ef6-137e3bbb82ae', 4)
GO
INSERT [dbo].[ProductKeys] ([KeyId], [KeyString], [Status], [ImportedBy], [ImportedAt], [SupplierId], [Type], [ExpiryDate], [Notes], [AssignedToOrderId], [UpdatedAt], [VariantId]) VALUES (N'10890f37-9201-4a8e-84f4-02d30972c76e', N'34bf71bc-3fcc-4846-9d85-0c6158f848f9', N'Available', N'03fae6ad-2b2b-4497-a3a0-244ffcf803f4', CAST(N'2025-11-22T19:45:35.9600000' AS DateTime2), 1, N'Individual', CAST(N'2026-01-31T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, N'0eb49bca-d8d2-4a8e-8334-e6f1c256a1e9')
INSERT [dbo].[ProductKeys] ([KeyId], [KeyString], [Status], [ImportedBy], [ImportedAt], [SupplierId], [Type], [ExpiryDate], [Notes], [AssignedToOrderId], [UpdatedAt], [VariantId]) VALUES (N'cb08d754-7d3d-4f60-9333-0376cd9fb26c', N'58c82877-9ee7-4949-81cb-ef2c683348fd', N'Available', N'03fae6ad-2b2b-4497-a3a0-244ffcf803f4', CAST(N'2025-11-22T19:44:53.3720000' AS DateTime2), 1, N'Individual', CAST(N'2026-01-31T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, N'0eb49bca-d8d2-4a8e-8334-e6f1c256a1e9')
INSERT [dbo].[ProductKeys] ([KeyId], [KeyString], [Status], [ImportedBy], [ImportedAt], [SupplierId], [Type], [ExpiryDate], [Notes], [AssignedToOrderId], [UpdatedAt], [VariantId]) VALUES (N'4ece7d71-8149-4dd3-b47c-040286c19c58', N'dbaa7781-5683-4426-ba6c-b5c4205aa437', N'Available', N'03fae6ad-2b2b-4497-a3a0-244ffcf803f4', CAST(N'2025-11-22T19:44:53.3720000' AS DateTime2), 1, N'Individual', CAST(N'2026-01-31T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, N'0eb49bca-d8d2-4a8e-8334-e6f1c256a1e9')
GO
INSERT [dbo].[Products] ([ProductId], [ProductCode], [ProductName], [ProductType], [StockQty], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Slug]) VALUES (N'2e6391e9-e9a5-4d88-8ef6-137e3bbb82ae', N'WINDOWS_11_PROFESSIONAL', N'Windows 11 Professional', N'PERSONAL_KEY', 0, N'OUT_OF_STOCK', CAST(N'2025-11-19T17:04:28.4020000' AS DateTime2), NULL, CAST(N'2025-11-19T17:08:29.5160000' AS DateTime2), NULL, N'WINDOWS_11_PROFESSIONAL')
INSERT [dbo].[Products] ([ProductId], [ProductCode], [ProductName], [ProductType], [StockQty], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Slug]) VALUES (N'1d5548cb-b29a-4b43-bccc-19c3a1ef1701', N'SPOTIFY_PREMIUM', N'Spotify Premium', N'PERSONAL_ACCOUNT', 0, N'ACTIVE', CAST(N'2025-11-19T17:02:00.5960000' AS DateTime2), NULL, CAST(N'2025-11-20T13:38:59.2580000' AS DateTime2), NULL, N'SPOTIFY_PREMIUM')
INSERT [dbo].[Products] ([ProductId], [ProductCode], [ProductName], [ProductType], [StockQty], [Status], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [Slug]) VALUES (N'5fa841d4-81e9-4bb9-91df-43e9b4628fe9', N'MICROSOFT_OFFICE_2016_PROFESSIONAL_PLUS', N'Microsoft Office 2016 Professional Plus', N'PERSONAL_KEY', 0, N'ACTIVE', CAST(N'2025-11-19T17:05:03.4320000' AS DateTime2), NULL, CAST(N'2025-11-20T13:38:41.6070000' AS DateTime2), NULL, N'MICROSOFT_OFFICE_2016_PROFESSIONAL_PLUS')
GO
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId], [ModuleId], [IsActive]) VALUES (N'Admin', 1, 1, 1)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId], [ModuleId], [IsActive]) VALUES (N'Admin', 1, 2, 1)
INSERT [dbo].[RolePermissions] ([RoleId], [PermissionId], [ModuleId], [IsActive]) VALUES (N'Admin', 1, 3, 1)
GO
INSERT [dbo].[Roles] ([RoleId], [Name], [IsSystem], [IsActive], [CreatedAt], [UpdatedAt], [Code]) VALUES (N'Admin', N'Quản trị viên', 1, 1, CAST(N'2025-11-12T13:02:37.3640000' AS DateTime2), CAST(N'2025-11-17T20:02:24.3130000' AS DateTime2), N'ADMIN')
INSERT [dbo].[Roles] ([RoleId], [Name], [IsSystem], [IsActive], [CreatedAt], [UpdatedAt], [Code]) VALUES (N'Content Creator', N' Người tạo nội dung', 1, 1, CAST(N'2025-11-12T13:02:37.3640000' AS DateTime2), CAST(N'2025-11-17T20:02:35.9410000' AS DateTime2), N'CONTENT_CREATOR')
INSERT [dbo].[Roles] ([RoleId], [Name], [IsSystem], [IsActive], [CreatedAt], [UpdatedAt], [Code]) VALUES (N'Customer', N'Customer', 1, 1, CAST(N'2025-11-12T13:02:37.3640000' AS DateTime2), CAST(N'2025-11-17T14:56:33.8540000' AS DateTime2), N'CUSTOMER')
GO
SET IDENTITY_INSERT [dbo].[SlaRules] ON 

INSERT [dbo].[SlaRules] ([SlaRuleId], [Name], [Severity], [PriorityLevel], [FirstResponseMinutes], [ResolutionMinutes], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Standard - Low', N'Low', 0, 480, 7200, 1, CAST(N'2025-11-20T14:20:28.1640000' AS DateTime2), NULL)
INSERT [dbo].[SlaRules] ([SlaRuleId], [Name], [Severity], [PriorityLevel], [FirstResponseMinutes], [ResolutionMinutes], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Standard - Medium', N'Medium', 0, 240, 4320, 1, CAST(N'2025-11-20T14:20:28.1640000' AS DateTime2), NULL)
INSERT [dbo].[SlaRules] ([SlaRuleId], [Name], [Severity], [PriorityLevel], [FirstResponseMinutes], [ResolutionMinutes], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Standard - High', N'High', 0, 120, 1440, 1, CAST(N'2025-11-20T14:20:28.1640000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[SlaRules] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [Name], [ContactEmail], [ContactPhone], [CreatedAt], [Status], [LicenseTerms]) VALUES (1, N'Vendor', N'vendor@123.com', N'012341234', CAST(N'2025-11-22T16:02:51.4620000' AS DateTime2), N'Active', NULL)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'df0c031a-5300-4af8-a257-1dd032db8a18', N'Customer')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'03fae6ad-2b2b-4497-a3a0-244ffcf803f4', N'Admin')
GO
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [FullName], [Email], [Phone], [Address], [AvatarUrl], [Status], [EmailVerified], [CreatedAt], [UpdatedAt], [SupportPriorityLevel]) VALUES (N'df0c031a-5300-4af8-a257-1dd032db8a18', N'Test', N'Hihe', N'Test Hihe', N'xixiho6665@aikunkun.com', N'01234123', NULL, NULL, N'Active', 1, CAST(N'2025-11-20T19:55:07.5510000' AS DateTime2), NULL, 0)
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [FullName], [Email], [Phone], [Address], [AvatarUrl], [Status], [EmailVerified], [CreatedAt], [UpdatedAt], [SupportPriorityLevel]) VALUES (N'03fae6ad-2b2b-4497-a3a0-244ffcf803f4', N'Owner', N'Admin', N'Admin Owner', N'admin@keytietkiem.com', NULL, NULL, N'https://res.cloudinary.com/doifb7f6k/image/upload/v1763666212/posts/np1clq5yjxq2damzfmqb.jpg', N'Active', 1, CAST(N'2025-11-19T16:49:58.5630000' AS DateTime2), CAST(N'2025-11-20T19:22:55.7820000' AS DateTime2), 0)
GO
SET IDENTITY_INSERT [dbo].[WebsiteSettings] ON 

SET IDENTITY_INSERT [dbo].[WebsiteSettings] OFF
GO
/****** Object:  Index [UQ__Accounts__1788CC4D0DEA4780]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__536C85E43B6217D6]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__371BA9551331C31F]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LayoutSections_SectionKey]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_LayoutSections_SectionKey] ON [dbo].[LayoutSections]
(
	[SectionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicensePackages_CreatedAt]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_LicensePackages_CreatedAt] ON [dbo].[LicensePackages]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicensePackages_Supplier]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_LicensePackages_Supplier] ON [dbo].[LicensePackages]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Modules__EAC9AEC382DEC1AA]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[Modules] ADD UNIQUE NONCLUSTERED 
(
	[ModuleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__0FFDA357968E1DFA]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostComments_ParentCommentId]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_PostComments_ParentCommentId] ON [dbo].[PostComments]
(
	[ParentCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostComments_PostId]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_PostComments_PostId] ON [dbo].[PostComments]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Posts__BC7B5FB600F3AFB6]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[Posts] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PostType__BC7B5FB69E6BF6FA]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[PostTypes] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAccountCustomers_Account_User]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductAccountCustomers_Account_User] ON [dbo].[ProductAccountCustomers]
(
	[ProductAccountId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAccountCustomers_Active]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductAccountCustomers_Active] ON [dbo].[ProductAccountCustomers]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAccountCustomers_User]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductAccountCustomers_User] ON [dbo].[ProductAccountCustomers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAccountHistory_Account]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductAccountHistory_Account] ON [dbo].[ProductAccountHistories]
(
	[ProductAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAccountHistory_ActionAt]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductAccountHistory_ActionAt] ON [dbo].[ProductAccountHistories]
(
	[ActionAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAccountHistory_User]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductAccountHistory_User] ON [dbo].[ProductAccountHistories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductAccounts_Status]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductAccounts_Status] ON [dbo].[ProductAccounts]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAccounts_Variant]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductAccounts_Variant] ON [dbo].[ProductAccounts]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductK__BE7B08A96C688244]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[ProductKeys] ADD UNIQUE NONCLUSTERED 
(
	[KeyString] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductKeys_Supplier]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductKeys_Supplier] ON [dbo].[ProductKeys]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductKeys_Variant]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductKeys_Variant] ON [dbo].[ProductKeys]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductReviews_Rating]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductReviews_Rating] ON [dbo].[ProductReviews]
(
	[Rating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductReviews_Variant]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductReviews_Variant] ON [dbo].[ProductReviews]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__2F4E024FB4A40E73]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Products_ProductCode]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [UQ_Products_ProductCode] UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Products_Slug]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Products_Slug] ON [dbo].[Products]
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductSections_Variant]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductSections_Variant] ON [dbo].[ProductSections]
(
	[VariantId] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ProductVariants_Product_Title]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ProductVariants_Product_Title] ON [dbo].[ProductVariants]
(
	[ProductId] ASC,
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupportChatMessages_Session_SentAt]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_SupportChatMessages_Session_SentAt] ON [dbo].[SupportChatMessages]
(
	[ChatSessionId] ASC,
	[SentAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SupportChatSessions_Customer]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_SupportChatSessions_Customer] ON [dbo].[SupportChatSessions]
(
	[CustomerId] ASC,
	[Status] ASC,
	[StartedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SupportChatSessions_Queue]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_SupportChatSessions_Queue] ON [dbo].[SupportChatSessions]
(
	[Status] ASC,
	[PriorityLevel] ASC,
	[LastMessageAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tags__BC7B5FB613E13234]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[Tags] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tickets_Queue]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_Queue] ON [dbo].[Tickets]
(
	[Status] ASC,
	[SlaStatus] ASC,
	[PriorityLevel] ASC,
	[Severity] ASC,
	[ResolutionDueAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_SlaRuleId]    Script Date: 11/23/2025 2:51:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_SlaRuleId] ON [dbo].[Tickets]
(
	[SlaRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105345A83CBF6]    Script Date: 11/23/2025 2:51:05 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (newid()) FOR [AccountId]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [FailedLoginCount]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (sysutcdatetime()) FOR [OccurredAt]
GO
ALTER TABLE [dbo].[Badges] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Badges] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Faqs] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Faqs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Faqs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LayoutSections] ADD  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[LayoutSections] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LayoutSections] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LayoutSections] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[LicensePackages] ADD  DEFAULT (newid()) FOR [PackageId]
GO
ALTER TABLE [dbo].[LicensePackages] ADD  DEFAULT ((0)) FOR [ImportedToStock]
GO
ALTER TABLE [dbo].[LicensePackages] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (newid()) FOR [OrderId]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentGateways] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PaymentGateways] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentGateways] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (newid()) FOR [PaymentId]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PostComments] ADD  DEFAULT (newid()) FOR [CommentId]
GO
ALTER TABLE [dbo].[PostComments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PostComments] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (newid()) FOR [PostID]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PostTypes] ADD  DEFAULT (newid()) FOR [PostTypeID]
GO
ALTER TABLE [dbo].[PostTypes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductAccountCustomers] ADD  DEFAULT (sysutcdatetime()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[ProductAccountCustomers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductAccountHistories] ADD  DEFAULT (sysutcdatetime()) FOR [ActionAt]
GO
ALTER TABLE [dbo].[ProductAccounts] ADD  DEFAULT ((1)) FOR [MaxUsers]
GO
ALTER TABLE [dbo].[ProductAccounts] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[ProductAccounts] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductBadges] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductKeys] ADD  DEFAULT (newid()) FOR [KeyId]
GO
ALTER TABLE [dbo].[ProductKeys] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[ProductKeys] ADD  DEFAULT (sysutcdatetime()) FOR [ImportedAt]
GO
ALTER TABLE [dbo].[ProductKeys] ADD  DEFAULT ('Individual') FOR [Type]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (newsequentialid()) FOR [ReviewId]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ((0)) FOR [IsVerifiedPurchase]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ((0)) FOR [HelpfulCount]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (newid()) FOR [ProductId]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Slug]  DEFAULT ('') FOR [Slug]
GO
ALTER TABLE [dbo].[ProductSections] ADD  DEFAULT (newsequentialid()) FOR [SectionId]
GO
ALTER TABLE [dbo].[ProductSections] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductSections] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductSections] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (newsequentialid()) FOR [VariantId]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_StockQty]  DEFAULT ((0)) FOR [StockQty]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_SellPrice]  DEFAULT ((0)) FOR [SellPrice]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_CogsPrice]  DEFAULT ((0)) FOR [CogsPrice]
GO
ALTER TABLE [dbo].[RefundRequests] ADD  DEFAULT (newid()) FOR [RefundId]
GO
ALTER TABLE [dbo].[RefundRequests] ADD  DEFAULT (sysutcdatetime()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsSystem]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SlaRules] ADD  CONSTRAINT [DF_SlaRules_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SlaRules] ADD  CONSTRAINT [DF_SlaRules_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[SupportChatMessages] ADD  CONSTRAINT [DF_SupportChatMessages_SentAt]  DEFAULT (sysdatetime()) FOR [SentAt]
GO
ALTER TABLE [dbo].[SupportChatSessions] ADD  CONSTRAINT [DF_SupportChatSessions_Status]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[SupportChatSessions] ADD  CONSTRAINT [DF_SupportChatSessions_PriorityLevel]  DEFAULT ((0)) FOR [PriorityLevel]
GO
ALTER TABLE [dbo].[SupportChatSessions] ADD  CONSTRAINT [DF_SupportChatSessions_StartedAt]  DEFAULT (sysdatetime()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (newid()) FOR [TagID]
GO
ALTER TABLE [dbo].[TicketReplies] ADD  DEFAULT (sysutcdatetime()) FOR [SentAt]
GO
ALTER TABLE [dbo].[TicketReplies] ADD  DEFAULT ((0)) FOR [IsStaffReply]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (newid()) FOR [TicketId]
GO
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Tickets_Status]  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Tickets_Severity]  DEFAULT ('Medium') FOR [Severity]
GO
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Tickets_SLA]  DEFAULT ('OK') FOR [SlaStatus]
GO
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Tickets_Assign]  DEFAULT ('Unassigned') FOR [AssignmentState]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Tickets_PriorityLevel]  DEFAULT ((0)) FOR [PriorityLevel]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_SupportPriorityLevel]  DEFAULT ((0)) FOR [SupportPriorityLevel]
GO
ALTER TABLE [dbo].[WarrantyClaims] ADD  DEFAULT (newid()) FOR [ClaimId]
GO
ALTER TABLE [dbo].[WarrantyClaims] ADD  DEFAULT (sysutcdatetime()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  DEFAULT ((1)) FOR [UseTLS]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  DEFAULT ((0)) FOR [UseDNS]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  DEFAULT ((10)) FOR [UploadLimitMB]
GO
ALTER TABLE [dbo].[WebsiteSettings] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_User]
GO
ALTER TABLE [dbo].[FaqCategories]  WITH CHECK ADD  CONSTRAINT [FK_FaqCategories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaqCategories] CHECK CONSTRAINT [FK_FaqCategories_Categories]
GO
ALTER TABLE [dbo].[FaqCategories]  WITH CHECK ADD  CONSTRAINT [FK_FaqCategories_Faqs] FOREIGN KEY([FaqId])
REFERENCES [dbo].[Faqs] ([FaqId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaqCategories] CHECK CONSTRAINT [FK_FaqCategories_Faqs]
GO
ALTER TABLE [dbo].[FaqProducts]  WITH CHECK ADD  CONSTRAINT [FK_FaqProducts_Faqs] FOREIGN KEY([FaqId])
REFERENCES [dbo].[Faqs] ([FaqId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaqProducts] CHECK CONSTRAINT [FK_FaqProducts_Faqs]
GO
ALTER TABLE [dbo].[FaqProducts]  WITH CHECK ADD  CONSTRAINT [FK_FaqProducts_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaqProducts] CHECK CONSTRAINT [FK_FaqProducts_Products]
GO
ALTER TABLE [dbo].[LicensePackages]  WITH CHECK ADD  CONSTRAINT [FK_LicensePackages_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LicensePackages] CHECK CONSTRAINT [FK_LicensePackages_Supplier]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Key] FOREIGN KEY([KeyId])
REFERENCES [dbo].[ProductKeys] ([KeyId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Key]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Order]
GO
ALTER TABLE [dbo].[PostComments]  WITH CHECK ADD  CONSTRAINT [FK_PostComments_ParentComment] FOREIGN KEY([ParentCommentId])
REFERENCES [dbo].[PostComments] ([CommentId])
GO
ALTER TABLE [dbo].[PostComments] CHECK CONSTRAINT [FK_PostComments_ParentComment]
GO
ALTER TABLE [dbo].[PostComments]  WITH CHECK ADD  CONSTRAINT [FK_PostComments_Posts] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostID])
GO
ALTER TABLE [dbo].[PostComments] CHECK CONSTRAINT [FK_PostComments_Posts]
GO
ALTER TABLE [dbo].[PostComments]  WITH CHECK ADD  CONSTRAINT [FK_PostComments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PostComments] CHECK CONSTRAINT [FK_PostComments_Users]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([PostTypeID])
REFERENCES [dbo].[PostTypes] ([PostTypeID])
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([TagID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAccountCustomers]  WITH CHECK ADD  CONSTRAINT [FK_ProductAccountCustomers_Account] FOREIGN KEY([ProductAccountId])
REFERENCES [dbo].[ProductAccounts] ([ProductAccountId])
GO
ALTER TABLE [dbo].[ProductAccountCustomers] CHECK CONSTRAINT [FK_ProductAccountCustomers_Account]
GO
ALTER TABLE [dbo].[ProductAccountCustomers]  WITH CHECK ADD  CONSTRAINT [FK_ProductAccountCustomers_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ProductAccountCustomers] CHECK CONSTRAINT [FK_ProductAccountCustomers_User]
GO
ALTER TABLE [dbo].[ProductAccountHistories]  WITH CHECK ADD  CONSTRAINT [FK_ProductAccountHistory_Account] FOREIGN KEY([ProductAccountId])
REFERENCES [dbo].[ProductAccounts] ([ProductAccountId])
GO
ALTER TABLE [dbo].[ProductAccountHistories] CHECK CONSTRAINT [FK_ProductAccountHistory_Account]
GO
ALTER TABLE [dbo].[ProductAccountHistories]  WITH CHECK ADD  CONSTRAINT [FK_ProductAccountHistory_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ProductAccountHistories] CHECK CONSTRAINT [FK_ProductAccountHistory_User]
GO
ALTER TABLE [dbo].[ProductAccounts]  WITH CHECK ADD  CONSTRAINT [FK_ProductAccounts_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[ProductAccounts] CHECK CONSTRAINT [FK_ProductAccounts_Variant]
GO
ALTER TABLE [dbo].[ProductBadges]  WITH CHECK ADD  CONSTRAINT [FK_ProductBadges_Badges] FOREIGN KEY([Badge])
REFERENCES [dbo].[Badges] ([BadgeCode])
GO
ALTER TABLE [dbo].[ProductBadges] CHECK CONSTRAINT [FK_ProductBadges_Badges]
GO
ALTER TABLE [dbo].[ProductBadges]  WITH CHECK ADD  CONSTRAINT [FK_ProductBadges_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductBadges] CHECK CONSTRAINT [FK_ProductBadges_Products]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategories_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_ProductCategories_Category]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_ProductCategories_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_ProductCategories_Product]
GO
ALTER TABLE [dbo].[ProductKeys]  WITH CHECK ADD  CONSTRAINT [FK_ProductKeys_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[ProductKeys] CHECK CONSTRAINT [FK_ProductKeys_Supplier]
GO
ALTER TABLE [dbo].[ProductKeys]  WITH CHECK ADD  CONSTRAINT [FK_ProductKeys_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[ProductKeys] CHECK CONSTRAINT [FK_ProductKeys_Variant]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Variant]
GO
ALTER TABLE [dbo].[ProductSections]  WITH CHECK ADD  CONSTRAINT [FK_ProductSections_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSections] CHECK CONSTRAINT [FK_ProductSections_Variant]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Product]
GO
ALTER TABLE [dbo].[RefundRequests]  WITH CHECK ADD  CONSTRAINT [FK_RefundRequests_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[RefundRequests] CHECK CONSTRAINT [FK_RefundRequests_Order]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Module] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([ModuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Module]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Perm] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Perm]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Role]
GO
ALTER TABLE [dbo].[SupportChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_SupportChatMessages_Sender] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SupportChatMessages] CHECK CONSTRAINT [FK_SupportChatMessages_Sender]
GO
ALTER TABLE [dbo].[SupportChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_SupportChatMessages_Session] FOREIGN KEY([ChatSessionId])
REFERENCES [dbo].[SupportChatSessions] ([ChatSessionId])
GO
ALTER TABLE [dbo].[SupportChatMessages] CHECK CONSTRAINT [FK_SupportChatMessages_Session]
GO
ALTER TABLE [dbo].[SupportChatSessions]  WITH CHECK ADD  CONSTRAINT [FK_SupportChatSessions_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SupportChatSessions] CHECK CONSTRAINT [FK_SupportChatSessions_Customer]
GO
ALTER TABLE [dbo].[SupportChatSessions]  WITH CHECK ADD  CONSTRAINT [FK_SupportChatSessions_Staff] FOREIGN KEY([AssignedStaffId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SupportChatSessions] CHECK CONSTRAINT [FK_SupportChatSessions_Staff]
GO
ALTER TABLE [dbo].[TicketReplies]  WITH CHECK ADD  CONSTRAINT [FK_TicketReplies_Ticket] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([TicketId])
GO
ALTER TABLE [dbo].[TicketReplies] CHECK CONSTRAINT [FK_TicketReplies_Ticket]
GO
ALTER TABLE [dbo].[TicketReplies]  WITH CHECK ADD  CONSTRAINT [FK_TicketReplies_User] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TicketReplies] CHECK CONSTRAINT [FK_TicketReplies_User]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Assignee_User] FOREIGN KEY([AssigneeId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Assignee_User]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_SlaRules] FOREIGN KEY([SlaRuleId])
REFERENCES [dbo].[SlaRules] ([SlaRuleId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_SlaRules]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_User]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User]
GO
ALTER TABLE [dbo].[WarrantyClaims]  WITH CHECK ADD  CONSTRAINT [FK_WarrantyClaims_OrderDetail] FOREIGN KEY([OrderDetailId])
REFERENCES [dbo].[OrderDetails] ([OrderDetailId])
GO
ALTER TABLE [dbo].[WarrantyClaims] CHECK CONSTRAINT [FK_WarrantyClaims_OrderDetail]
GO
ALTER TABLE [dbo].[LicensePackages]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Failed' OR [Status]='Paid' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Status]='Failed' OR [Status]='Success' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD CHECK  (([Status]='Private' OR [Status]='Published' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[ProductKeys]  WITH CHECK ADD CHECK  (([Status]='Error' OR [Status]='Expired' OR [Status]='Sold' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[ProductKeys]  WITH CHECK ADD  CONSTRAINT [CK_ProductKeys_Type] CHECK  (([Type]='Pool' OR [Type]='Individual'))
GO
ALTER TABLE [dbo].[ProductKeys] CHECK CONSTRAINT [CK_ProductKeys_Type]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([StockQty]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_ProductType] CHECK  (([ProductType]='SHARED_ACCOUNT' OR [ProductType]='PERSONAL_ACCOUNT' OR [ProductType]='SHARED_KEY' OR [ProductType]='PERSONAL_KEY'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_ProductType]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Products_Status] CHECK  (([Status]='OUT_OF_STOCK' OR [Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_Status]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [CK_ProductVariants_Status] CHECK  (([Status]='OUT_OF_STOCK' OR [Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [CK_ProductVariants_Status]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [CK_ProductVariants_StockQty_NonNegative] CHECK  (([StockQty]>=(0)))
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [CK_ProductVariants_StockQty_NonNegative]
GO
ALTER TABLE [dbo].[RefundRequests]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [CK_Suppliers_Status] CHECK  (([Status]='Deactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [CK_Suppliers_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Status]='Active' OR [Status]='Locked' OR [Status]='Disabled'))
GO
ALTER TABLE [dbo].[WarrantyClaims]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
USE [master]
GO
